colorspacious==1.1.2
distro==1.7.0
gevent-websocket==0.10.1
keyring==23.5.0
lxml==4.7.1
matplotlib==3.5.1
natsort==8.1.0
openpyxl==3.0.9
persistQueue==0.1.6
Phidget22==1.10.20220211
portalocker==2.4.0
prettytable==3.2.0
pyinstaller==4.9
PyQt6-WebEngine==6.2.1
pyserial==3.5
python-snap7==1.1
pyusb==1.2.1
PyYAML==6.0
requests-file==1.5.1
scipy==1.8.0
Unidecode==1.3.3
websocket==0.2.1
wquantiles==0.6
xlrd==2.0.1
yoctopuce==1.10.48220
